<h1 style="text-align: center">Cập nhật sách</h1>
<form *ngIf="formEdit" [formGroup]="formEdit" (ngSubmit)="submit()">
  <div class="form-group">
    <label for="title">Title</label>
    <input type="text" class="form-control" id="title" formControlName="title">
  </div>
  <div class="form-group">
    <label for="author">Author</label>
    <input type="text" class="form-control" id="author" formControlName="author">
  </div>
  <div class="form-group">
    <label for="description">Description</label>
    <input type="text" class="form-control" id="description" formControlName="description">
  </div>
  <button class="btn btn-success">update</button>
  <button routerLink="/book" class="btn btn-secondary">Thoát</button>
</form>
